.userPopoutInner-nv9Y92:has(.input-2z42oC[disabled]) img:not(.profileBadge22-3GAYRy),
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .avatar-2e8lTP,
[style*="icons/172018499005317120"],
[style*="icons/758370296163729422"],
[src*="a_83593d007aeb93323e32b58634aec6d"],
[src*="dff2077083bc78ce00a28786174a853b"],
[src*="icons/172018499005317120"],
[src*="a_83593d007aeb93323e32b58634aec6dc"],
[src*="637032376731566082"],
[src*="711617112669683784"],
[src*="135747025000988672"],
[src*="216641568679919616"],
[src*="106789328881004544"],
[src*="129819557115199488"],
[src*="172651116209635328"],
[style*="315546955637850112"],
[src*="54644000799326208"],
[src*="72743581286150144"],
[src*="81192460436385792"],
[src*="82985775976681472"],
[src*="83006413684609024"],
[src*="85249227403309056"],
[src*="86210422922809344"],
[src*="93446211763187712"],
[src*="98175697805144064"],
[src*="291683071290245120"],
[src*="98175697805144064"],
[src*="115734542035189760"],
[src*="116996373768962050"],
[src*="120605047183638528"],
[src*="125712490217734144"],
[src*="130885129383051264"],
[src*="131213789826646017"],
[src*="131605037741768704"],
[src*="132688605565943808"],
[src*="134439374690451456"],
[src*="135539599266021377"],
[src*="137232539008892928"],
[src*="143080290762358784"],
[src*="144204881018748929"],
[src*="149872777615245312"],
[src*="152543367937392640"],
[src*="152850995334873088"],
[src*="155688649441280000"],
[src*="158750488563679232"],
[src*="178898175124307968"],
[src*="192032329261121536"],
[src*="203861564485402624"],
[src*="208831456133251073"],
[src*="222443696379920384"],
[src*="229790444303679488"],
[src*="230832374202630154"],
[src*="232385898388520961"],
[src*="233093484440059905"],
[src*="253233185800847361"],
[src*="258769251547086849"],
[src*="259907858211012611"],
[src*="267187144336867339"],
[src*="269613783792615425"],
[src*="270326791380533248"],
[src*="278971791807086594"],
[src*="279713123651551232"],
[src*="292403595293229057"],
[src*="293452247554195456"],
[src*="297470990521204736"],
[src*="300294176501923841"],
[src*="301160231914962944"],
[src*="309412386152906754"],
[src*="310446119488323585"],
[src*="310813464971051009"],
[src*="316914514383601664"],
[src*="320112498156109824"],
[src*="320995247314436096"],
[src*="322160960720863234"],
[src*="334488264331231234"],
[src*="335764237227917312"],
[src*="335803414669688832"],
[src*="337729250092253185"],
[src*="342871582521294858"],
[src*="349168935729364994"],
[src*="351975802193313802"],
[src*="353929305232769025"],
[src*="354338575325724682"],
[src*="354789464775852042"],
[src*="356293785614811140"],
[src*="359784342970695680"],
[src*="363731010057273374"],
[src*="367082289706041345"],
[src*="367155231080841216"],
[src*="377871581436706819"],
[src*="378293798167511052"],
[src*="389116752455532555"],
[src*="392158909474930699"],
[src*="395931912574861312"],
[src*="396770877712236564"],
[src*="404665888873250827"],
[src*="405126155012931595"],
[src*="409362686543921163"],
[src*="417792539790147594"],
[src*="422221846491168812"],
[src*="424202882632646657"],
[src*="425694142346166272"],
[src*="432376402075975680"],
[src*="434119116094439424"],
[src*="446082336833142794"],
[src*="446541301383561227"],
[src*="449908427934662666"],
[src*="451798869970518017"],
[src*="452638528279543857"],
[src*="454030496834256907"],
[src*="454376280876515348"],
[src*="456528012100239370"],
[src*="462848121081167873"],
[src*="465862125017890816"],
[src*="470193291053498369"],
[src*="473864115291553813"],
[src*="475518123055775744"],
[src*="477907717273681952"],
[src*="480774694409338890"],
[src*="493308716427509761"],
[src*="499852856480759821"],
[src*="505832724959985666"],
[src*="507924300242747401"],
[src*="514906322664161283"],
[src*="519233153924333568"],
[src*="521119612428091433"],
[src*="522514029252444161"],
[src*="524745084839788544"],
[src*="532229483411800076"],
[src*="532964812544802826"],
[src*="538776641132953601"],
[src*="540236356522344448"],
[src*="541626554732773397"],
[src*="544694274055340032"],
[src*="553619500470239235"],
[src*="555816005973311498"],
[src*="563652755814875146"],
[src*="575527129056280586"],
[src*="581730200421793802"],
[src*="582239866402635780"],
[src*="585043842282160140"],
[src*="590311200110149653"],
[src*="603501958812401674"],
[src*="605828877624934484"],
[src*="608755713291976855"],
[src*="613673187833544705"],
[src*="615013353991045150"],
[src*="629309867605360641"],
[src*="632121051379269636"],
[src*="635803535996485643"],
[src*="637612758061416459"],
[src*="666301100667961358"],
[src*="668151503885697055"],
[src*="668592988183724054"],
[src*="673260330884792320"],
[src*="679401408688291870"],
[src*="690584512584745010"],
[src*="692024080278487111"],
[src*="694651450352992407"],
[src*="695291898805485685"],
[src*="697567555753083010"],
[src*="721997414852067370"],
[src*="725895371712102464"],
[src*="728790638740635709"],
[src*="728858906935165009"],
[src*="733418749859856384"],
[src*="737423135602638929"],
[src*="743248514246639637"],
[src*="748932606036541552"],
[src*="751403509588688906"],
[src*="754207508503199808"],
[src*="756683729413341316"],
[src*="758171636758872095"],
[src*="766337842031886336"],
[src*="772543177411264532"],
[src*="776485247806210100"],
[src*="777875101173547058"],
[src*="777982657195278346"],
[src*="778209110361243688"],
[src*="805417266375032834"],
[src*="823302435594436658"],
[src*="846793566235525130"],
[src*="848403684798103572"],
[src*="851248347196030997"],
[src*="853230037796651009"],
[src*="857481137006182461"],
[src*="866192755238895646"],
[src*="869231191306412072"],
[src*="870657896269119529"],
[src*="886749640974811146"],
[src*="889000499192426566"],
[src*="901895913218379856"],
[src*="922232444063735819"],
[src*="929074659033509889"],
[src*="929806265335578694"],
[src*="934420155960786954"],
[src*="934663009874370641"],
[src*="946558697868492801"],
[src*="947731338637766656"],
[src*="954127290806173737"],
[src*="978062355843923999"],
[src*="1007853799467135057"],
[src*="1010545288890556466"],
[src*="1049977408754819122"],
[src*="1084536797356372140"],
[src*="61858072873245083"],
[src*="646855140883693598"],
[src*="499852856480759821"],
[src*="23039723580686336"],
[src*="118489956812455937"],
[src*="1012284795432206336"],
[src*="616329233022582794"],
[src*="57979276586149481"],
[src*="25646066552969625"],
[src*="315546955637850112"],
[src*="405006137432342529"],
[src*="609445260606701593"],
[href*="820437739681742898"]~div,
[href*="657603264228884489"]~div>img,
[src*="protoge"],
[src*="46656638599312181"],
[src*="90008266551921869"],
[src*="35241164257676493"],
[style*="75837029616372942"],
[src*="49389542252845468"],
[src*="52622459654294733"],
[src*="84048845513778790"],
[src*="43774503212076239"],
[src*="104921753902201657"],
[src*="19122191887826944"],
[src*="45253612307650972"],
[src*="291347878864224258"],
[src*="597065787781677068"],
[src*="469937939305201685"],
[src*="696996388210212904"],
[src*="279120413882187777"],
[src*="772873056657866782"],
[src*="412366584045109250"],
[src*="478922573019611137"],
[src*="555950071502602240"],
[src*="495330952176992260"],
[src*="463565859403726858"],
[src*="700178163522863175"],
[src*="1032872713422901348"],
[src*="828330159655616513"],
[src*="849482153473343508"],
[src*="401855492420272148"],
[src*="757632424485191711"],
[src*="852365913844088844"],
[src*="756555608530092112"],
[src*="584163051574657031"],
[src*="561286459726888960"],
[src*="305183880783200256"],
[src*="265995705229901834"],
[src*="654839315678887949"],
[src*="1095094865165037680"],
[src*="678771233889845279"],
[src*="694061949553606666"],
[src*="583382338772271117"],
[src*="350022428950396929"],
[src*="icons/758370296163729422"],
/* REMOVE AFTER JUNE? */
[src*="icons/139862263455547392"],
[src*="icons/258324481074921472"],
[src*="icons/410208534861447168"],
[src*="icons/267624335836053506"],
[src*="icons/114407194971209731"],
[src*="icons/154305477323390976"],
[src*="icons/94882524378968064"],
[src*="icons/269657133673349120"],
[src*="icons/77710284621357056"],
[src*="icons/222078108977594368"],
[src*="icons/348973006581923840"],
[src*="icons/474583323340046337"],
[src*="icons/668320727912415233"],
[src*="icons/991964686700511282"],
[src*="icons/986936910935097444"],
[src*="icons/959551566388547676"],
[src*="icons/839705280781877258"],
[src*="icons/774739465901047869"],
[src*="icons/489818027240718376"],
[src*="icons/1101529330259067022"],
[src*="icons/1053229619618258984"],
[src*="icons/853664671482249247"],
/* END REMOVE AFTER JUNE */
/* todo: find an easier way to get server/user ids, maybe check for available api of disboard or alternatives? */
[data-id="900878386744918026"]{
	filter: blur(20px) !important;
    clip-path: circle(50%);
}
.bannerImg-2PzH6z{
    clip-path: none !important;
}

[aria-label=":transgender_flag:"],[alt="🏳️‍⚧️"],[alt*="pride"],[alt="🏳️‍🌈"],[aria-label="🏳️‍🌈"]{
    display:none !important;
}
